.DS_Store
__pycache__

imgui.ini
.vscode
captured_data
partnet-mobility-dataset
.ipynb_checkpoints

*.egg-info

datasets/
*.egg
raw_data/
results/
translation_workspace_data_v1_new/
videos/
external

skilltranslation_results

datasets

results

wandb

scripts/test_blockstack.py
scripts/test_env.py

# assets

.idea

debug

/assets/

partnet-mobility-dataset
*.ply
build
captured_data